*{
  margin: 0px;
  padding: 0px;
}

body{
  background: #f3f3f3;
  font-family: 'Helvetica', sans-serif;
}
#root{
  width: 100%;
  max-width: 90%;
  margin: 50px auto 0 auto;
}

button{
  margin-top: 50px;
  border: 0px;
  display: block;
  width: 200px;
  height: 60px;
  padding: 0px 10px;
  outline: none;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  font-weight: bold;
  font-size: 18px;
  &:hover{
    background: indianRed;
    color: #fff;
  }
}

.hand-container{
  min-height: 350px;
  opacity: 0;
  transition: all 500ms ease-in-out;
  transition-delay: 350ms;
  &.visible-true{
    opacity: 1;
  }

  &.disabled-true{
    ul{
      opacity: .4;
      li{
        &:hover{
          cursor: not-allowed;
          transform: none;
        }
      }
    }
  }
}

ul{
  width: 95%;
  margin: 50px auto;
  display: flex;
  justify-content: center;
  transition: all 250ms ease-in-out;
  li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    height: 350px;
    border-radius: 10px;
    background: #fff;
    width: 19%;
    position: relative;
    top: 0;
    font-weight: bold;
    font-size: 80px;
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    top: -100px;
    color: dodgerBlue;
    transition: opacity 150ms ease-in-out,
      top 150ms ease-in-out,
      transform 100ms ease-in-out;
    &:hover{
      transform: scale(1.05);
      transform-origin: center;
    }
    &.card{
      opacity: 1;
      top: 0;
    }
    &.hearts,
    &.diamonds{
      color: indianRed;
    }
    &.marked-true{
      opacity :.35;
      top: -50px;
    }
    &::after{
      font-size: 200px;
      opacity: .1;

      position: absolute;
      top: 50%;
      left: 50%;
      font-weight: normal;
      transform: translate3d(-50%,-50%,0);
    }
    &.hearts{
      &::after{
        content: '\2665';
      }
    }
    &.spades{
      &::after{
        content: '\2660';
      }
    }
    &.diamonds{
      &::after{
        content: '\2666';
      }
    }
    &.clubs{
      &::after{
        content: '\2663';
      }
    }
  }
}

.status{
  display: block;
  margin-top: 10px;
}

.score{
  display: block;
  margin-bottom: 10px;
}

//imports
